.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 4px;
    z-index: 9999;

.infos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .info{
            color: #fff;
            font-size: .75rem;
            
            a {
                color: #fff;
                font-size: .75rem;
            }
        }
    }   
}