button.link{
    border: #aaa solid 2px;
    color: #aaa;
    background-color: inherit;
    padding: 0;
    cursor: pointer;

    &:hover{
        color: #fff;
        border: #fff solid 2px;
    }
}

button.icon{
    cursor: pointer;
    background-color: inherit;
    padding: 0;

    svg{
        transition: 150ms ease-in-out fill;
        
        &:hover{
            fill: #aaa !important;
        }
    }
}