button.basic{
    color: #aaa;
    background-color: #000;
    padding: 8px 12px;
    cursor: pointer;

    &:disabled{
        pointer-events: none;
        opacity: .5;
    }

    &:hover{
        color: #fff;
    }
}

button.link{
    border: #aaa solid 2px;
    color: #aaa;
    background-color: inherit;
    padding: 4px 8px;
    cursor: pointer;

    &:hover{
        color: #fff;
        border: #fff solid 2px;
    }
}

button.icon{
    cursor: pointer;
    background-color: inherit;
    padding: 0;

    svg{
        transition: 150ms ease-in-out fill;

        &:hover{
            fill: #aaa !important;
        }
    }
}