.page.about { 
    h2 {
        font-size: 1.25rem;
    }

    section{
        padding: 0 4px;

        &.profile{
            margin-top: 48px;
        }

        p{
            line-height: 1.25rem;
        }

        &.tech{
            margin-top: 24px;
        }
        &.sns{
            display: flex;
            gap: 4px;
            margin-top: 24px;
        }
    }
}